In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
################# Python Pandas Creating Series #################

In [4]:
# Creating empty series
ser = pd.Series()

In [5]:
print (ser)

Series([], dtype: object)

In [6]:
# Simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

In [7]:
ser = pd.Series(data)

In [8]:
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [9]:
################# Python Pandas Creating Dataframes #################

In [11]:
'''
Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 
Pandas DataFrame consists of three principal components: the data, rows, and columns.
'''

'\nPandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). \nA Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. \nPandas DataFrame consists of three principal components: the data, rows, and columns.\n'

In [13]:
# Calling DataFrame constructor
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [15]:
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

In [16]:
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [17]:
################# Creating Dataframes from CSV #################

In [18]:
# Reading the CSV file
df = pd.read_csv("Team Results BD Wednesday-Fall 23.csv")

In [19]:
# Printing the first 5 rows
df.head()

  Unnamed: 0  Unnamed: 1  Relive  Elite Circle  Your VR  Fusionx
0        NaN         NaN     NaN           NaN      NaN      NaN
1     Team 1         NaN     9.5           8.5      7.0      8.5
2     Team 2         NaN     8.5           9.5      9.5      8.0
3     Team 3         NaN     9.0           9.0     10.0      9.0
4     Team 4         NaN     8.5           8.5      9.0     10.0

In [21]:
# Printing the whole data frame
df

  Unnamed: 0  Unnamed: 1  Relive  Elite Circle  Your VR  Fusionx
0        NaN         NaN     NaN           NaN      NaN      NaN
1     Team 1         NaN     9.5           8.5      7.0      8.5
2     Team 2         NaN     8.5           9.5      9.5      8.0
3     Team 3         NaN     9.0           9.0     10.0      9.0
4     Team 4         NaN     8.5           8.5      9.0     10.0
5        NaN         NaN    35.5          35.5     35.5     35.5

In [22]:
################# Import public datasets to dataframes #################