In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
################# Python Pandas Creating Series #################

In [4]:
# Creating empty series
ser = pd.Series()

In [5]:
print (ser)

Series([], dtype: object)

In [6]:
# Simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

In [7]:
ser = pd.Series(data)

In [8]:
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [9]:
################# Python Pandas Creating Dataframes #################

In [11]:
'''
Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 
Pandas DataFrame consists of three principal components: the data, rows, and columns.
'''

'\nPandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). \nA Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. \nPandas DataFrame consists of three principal components: the data, rows, and columns.\n'

In [13]:
# Calling DataFrame constructor
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [15]:
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

In [16]:
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [17]:
################# Creating Dataframes from CSV #################

In [18]:
# Reading the CSV file
df = pd.read_csv("Team Results BD Wednesday-Fall 23.csv")

In [19]:
# Printing the first 5 rows
df.head()

  Unnamed: 0  Unnamed: 1  Relive  Elite Circle  Your VR  Fusionx
0        NaN         NaN     NaN           NaN      NaN      NaN
1     Team 1         NaN     9.5           8.5      7.0      8.5
2     Team 2         NaN     8.5           9.5      9.5      8.0
3     Team 3         NaN     9.0           9.0     10.0      9.0
4     Team 4         NaN     8.5           8.5      9.0     10.0

In [21]:
# Printing the whole data frame
df

  Unnamed: 0  Unnamed: 1  Relive  Elite Circle  Your VR  Fusionx
0        NaN         NaN     NaN           NaN      NaN      NaN
1     Team 1         NaN     9.5           8.5      7.0      8.5
2     Team 2         NaN     8.5           9.5      9.5      8.0
3     Team 3         NaN     9.0           9.0     10.0      9.0
4     Team 4         NaN     8.5           8.5      9.0     10.0
5        NaN         NaN    35.5          35.5     35.5     35.5

In [22]:
################# Import public datasets to dataframes #################

In [23]:
# Downloaded spotify dataset from Kaggle
# link: https://www.kaggle.com/datasets/joebeachcapital/30000-spotify-songs/

In [24]:
# Import the dataset to a dataframe
df = pd.read_csv("spotify/spotify_songs.csv")

In [25]:
# Printing the first 5 rows
df.head()

,track_id,track_name,track_artist,track_popularity,track_album_id,track_album_name,track_album_release_date,playlist_name,playlist_id,playlist_genre,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
0,6f807x0ima9a1j3VPbc7VN,I Don't Care (with Justin Bieber) - Loud Luxur...,Ed Sheeran,66,2oCs0DGTsRO98Gh5ZSl2Cx,I Don't Care (with Justin Bieber) [Loud Luxury...,2019-06-14,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,6,-2.634,1,0.0583,0.1020,0.000000,0.0653,0.518,122.036,194754
1,0r7CVbZTWZgbTCYdfa2P31,Memories - Dillon Francis Remix,Maroon 5,67,63rPSO264uRjW1X5E6cWv6,Memories (Dillon Francis Remix),2019-12-13,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,11,-4.969,1,0.0373,0.0724,0.004210,0.3570,0.693,99.972,162600
2,1z1Hg7Vb0AhHDiEmnDE79l,All the Time - Don Diablo Remix,Zara Larsson,70,1HoSmj2eLcsrR0vE9gThr4,All the Time (Don Diablo Remix),2019-07-05,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,1,-3.432,0,0.0742,0.0794,0.000023,0.1100,0.613,124.008,176616
3,75FpbthrwQmzHlBJLuGdC7,Call You Mine - Keanu Silva Remix,The Chainsmokers,60,1nqYsOef1yKKuGOVchbsk6,Call You Mine - The Remixes,2019-07-19,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,7,-3.778,1,0.1020,0.0287,0.000009,0.2040,0.277,121.956,169093
4,1e8PAfcKUYoKkxPhrHqw4x,Someone You Loved - Future Humans Remix,Lewis Capaldi,69,7m7vv9wlQ4i0LFuJiE2zsQ,Someone You Loved (Future Humans Remix),2019-03-05,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,1,-4.672,1,0.0359,0.0803,0.000000,0.0833,0.725,123.976,189052

In [28]:
# Applying a filter and displaying the first 5 rows
filters = ["track_artist", "track_name", "track_album_name", "track_album_release_date"]
df.filter(filters).head()

,track_artist,track_name,track_album_name,track_album_release_date
0,Ed Sheeran,I Don't Care (with Justin Bieber) - Loud Luxur...,I Don't Care (with Justin Bieber) [Loud Luxury...,2019-06-14
1,Maroon 5,Memories - Dillon Francis Remix,Memories (Dillon Francis Remix),2019-12-13
2,Zara Larsson,All the Time - Don Diablo Remix,All the Time (Don Diablo Remix),2019-07-05
3,The Chainsmokers,Call You Mine - Keanu Silva Remix,Call You Mine - The Remixes,2019-07-19
4,Lewis Capaldi,Someone You Loved - Future Humans Remix,Someone You Loved (Future Humans Remix),2019-03-05

In [34]:
# Sorting Dataframes
# Ssorting data frame by track_artist

# format : data.sort_values("track_artist", axis = 0, ascending = True, inplace = True, na_position ='last')
df.sort_values("track_popularity", axis = 0, ascending = False).head()

,track_id,track_name,track_artist,track_popularity,track_album_id,track_album_name,track_album_release_date,playlist_name,playlist_id,playlist_genre,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
20091,2XU0oxnq2qxCpomAAuJY8K,Dance Monkey,Tones and I,100,0UywfDKYlyiu1b38DRrzYD,Dance Monkey (Stripped Back) / Dance Monkey,2019-10-17,Global Top 50 | 2020 Hits,1KNl4AYfgZtOVm9KHkhPTF,latin,...,6,-6.400,0,0.0924,0.6920,0.000104,0.149,0.513,98.027,209438
1551,2XU0oxnq2qxCpomAAuJY8K,Dance Monkey,Tones and I,100,0UywfDKYlyiu1b38DRrzYD,Dance Monkey (Stripped Back) / Dance Monkey,2019-10-17,"post-teen alternative, indie, pop (large variety)",1y42gwI5cuwjBslPyQNfqb,pop,...,6,-6.400,0,0.0924,0.6920,0.000104,0.149,0.513,98.027,209438
30202,696DnlkuDOXcMAnKlTgXXK,ROXANNE,Arizona Zervas,99,6HJDrXs0hpebaRFKA1sF90,ROXANNE,2019-10-10,Charts 2020 🔥Top 2020🔥Hits 2020🔥Summer 2020🔥Po...,3xMQTDLOIGvj3lWH5e5x6F,edm,...,6,-5.616,0,0.1480,0.0522,0.000000,0.460,0.457,116.735,163636
23104,696DnlkuDOXcMAnKlTgXXK,ROXANNE,Arizona Zervas,99,6HJDrXs0hpebaRFKA1sF90,ROXANNE,2019-10-10,Charts 2020 🔥Top 2020🔥Hits 2020🔥Summer 2020🔥Po...,3xMQTDLOIGvj3lWH5e5x6F,r&b,...,6,-5.616,0,0.1480,0.0522,0.000000,0.460,0.457,116.735,163636
21468,696DnlkuDOXcMAnKlTgXXK,ROXANNE,Arizona Zervas,99,6HJDrXs0hpebaRFKA1sF90,ROXANNE,2019-10-10,Contemporary Urban,6wyJ4bsjZaUKa9f6GeZlAO,r&b,...,6,-5.616,0,0.1480,0.0522,0.000000,0.460,0.457,116.735,163636

In [36]:
# sorting + filtering the same above data
filters = ["track_artist", "track_name", "track_popularity"]
sorted_df = df.sort_values("track_popularity", axis = 0, ascending = False).head()
sorted_df.filter(filters)  # Since the values are limited to 5 by the previous line, we do not need to add .head() method again

         track_artist    track_name  track_popularity
20091     Tones and I  Dance Monkey               100
1551      Tones and I  Dance Monkey               100
30202  Arizona Zervas       ROXANNE                99
23104  Arizona Zervas       ROXANNE                99
21468  Arizona Zervas       ROXANNE                99